version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      
paths-ignore:
  - ".github/steps/**"             # Ignore everything in the docs folder
